/* General Reset */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Keyframes for Rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App Styles */
.App {
  text-align: center;
  background-color: #efeff1;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
}

.App-logo {
  height: 40vmin;
  margin-top: -300px;
  border-radius: 80px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(183, 1, 1);
  margin-top: -20%;
}

.App-link {
  color: #351683;
  margin-bottom: -500px;
}

.about-me, .skils, .education {
  padding: 20px;
  margin: 10px auto;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.about-me h2, .skils h2, .education h2 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.skil_logo1, .skil_logo2, .skil_logo3, .skil_logo4 , .skil_logo5 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #635959;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  animation: rotate 10s linear infinite;
}

.skil_logo5 {
  width: 80px;
  height: 60px;
}

span {
  position: relative;
}

span:hover::after {
  content: "Bsc(Hons) in Computer Science";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 1;
}

.education {
  background-color: #979994;
  color: #efeff1;
}

.uni {
  background-color: #635959;
}

.school {
  background-color: #635959;
}

/* Responsive Styles */

/* Medium Screens (Tablets, 768px and below) */
@media (max-width: 768px) {
  .App {
    margin: 10px auto;
    padding: 15px;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
    margin-top: -100%;
  }

  .App-logo {
    height: 30vmin;
    margin-top: -200px;
  }

  .about-me, .skils, .education {
    padding: 15px;
    margin: 10px auto;
    
  }

  .skil_logo1, .skil_logo2, .skil_logo3, .skil_logo4, .skil_logo5 {
    width: 40px;
    height: 40px;
  }
}

/* Small Screens (Mobile Devices, 480px and below) */
@media (max-width: 480px) {
  .App {
    margin: 5px auto;
    padding: 10px;
  }

  .App-header {
    font-size: calc(6px + 2vmin);
    margin-top: -120%;
  }

  .App-logo {
    height: 20vmin;
    margin-top: -150px;
  }

  .about-me, .skils, .education {
    padding: 10px;
    margin: 5px auto;
    font-size: 0.9rem;
  }

  .skil_logo1, .skil_logo2, .skil_logo3, .skil_logo4, .skil_logo5 {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  span:hover::after {
    font-size: 0.8rem;
  }
  .campus{
    font-size: 0.5rem;
    width: 50%;
    height: 30%;
    color: #efeff1;
    margin-top: 10px;
  }
  .school{
    font-size: 0.5rem;
    color: #efeff1;
  }
}